footer {
    display: flex;
    background-color: var(--color-primario);
    width: 100%;
    padding: 3rem 0;
    color: var(--color-cuaternario);
    justify-content: center;
    gap: 1rem;
    align-items: center;
    position: absolute;
    height: 88px;
    bottom: 0;
    font-size: 2.5rem;
    min-width: 360px;
}