@media (min-width: 401px) {
    
    .desplegable,
    .menu-contenido .menu-link {
      display: none;
    }
  
    .menu-web {
      display: flex;
      margin-right: 1.8rem;
      flex-wrap: wrap;
    }
  
    .menu-link-web{
      color: var(--color-cuaternario);
      padding: 1.2rem 1.42rem;
      text-decoration: none;
      font-size: 2rem;
    }
  }