form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-evenly;
  border-style: solid;
  border-color: var(--color-primario);
  border-radius: 2rem;
  background-color: var(--color-quinario);
  padding: 5rem 1rem;
  font-size: 1rem;
  width: calc(250px + 20%);
  
}

.titulo {
  font-family: "Yeseva One", cursive;
  font-size: 5em;
  color: var(--color-primario);
}

.campo {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 0.8em;
  border-radius: 1.7em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: var(--color-primario);
}

.fas.fa-user,
.fas.fa-key {
  width: 20%;
  height: auto;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--color-primario);
  color: var(--color-quinario);
  border-left: 0.8em;
}

label {
  text-align: left;
  font-size: 2.2em;
}
.icono {
  padding-right: 1rem;
}

input {
  width: 85%;
  padding: 0.5em;
  border-width: 0;
  border-bottom-right-radius: 0.6em;
  border-top-right-radius: 0.6em;
  font-size: 2em;
}

.mostrar_contraseña {
  display: flex;
  justify-content: end;
  align-items: center;
}

.campo span {
  position: absolute;
  right: 0.5rem;
  top: 3rem;
  text-transform: uppercase;
  cursor: pointer;
}

.inicio{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  column-gap: 2%;
}

#logo{
  width: 6rem;
  height: 6rem;
}

@media (max-width: 768px) {
  .container{
    width: 90%;
  }
}
