@media (min-width: 401px) {
  .fa-trash-alt, .fa-pen{
    font-size: 3.5rem;
  }
  .fa-star {
    font-size: 2.5rem;
  }
  .container__separador-web {
    display: flex;
    /* align-items: center; */
  }
  .autor-mobile, .p-mobile {
    display: none;
  }
  /* .autor-web {         <------- Buscar una mejor forma de centrar los autores
    align-items: center;
    justify-content: center;
  } */
  .container__contenido {
    margin: 1rem;
  }
  .container__title{
    font-size: 2.5rem;
  }
  .autor-web{
    font-size: 1.5rem;
  }
  .container__contenido-iconos {  /*  Hace que los iconos borrar y editar estén en row  */
    flex-direction: row-reverse;
  }
}
